.rc-cheker {
    margin: 25px auto;
    display: inline-block;
    border-radius: 21px;
    overflow: hidden;
    text-align: center;
}

.rc-cheker-item{
    color: #3a3a3a;
    background: #fff;
    padding: 10px 25px;
    font-size: 12px;
    line-height: 32px;
    font-family: "Open Sans";
}

.rc-cheker-item.active{
    background: #3a3a3a;
    color: #fff;
}

.rc-lifelist {
    display: flex;
    flex-wrap: wrap;
}

.rc-cheker-wrap {
    text-align: center;
}

.rc-lifelist-item {
    width: 311px;
    margin-right: 12px;
    margin-bottom: 40px;
}

.rc-lifelist-item:nth-child(3){
    margin-right:0;
}

.rc-lifelist-item-cont {
    padding: 20px;
    background: #fff;
}

.rc-lifelist-item-data{
    line-height: 10px;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 300;
    margin-bottom: 6px;
}

.rc-lifelist-item-text{
    color: #0a4d66;
    line-height: 26px;
    font-size: 19px;
    font-family: "Open Sans";
}

.rc-articlelist{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.rc-articlelist-item{
    width: 473px;
    padding-left: 44px;
    position: relative;
    margin-bottom: 78px;
}

.rc-articlelist-item-title{
    color: #0a4d66;
    line-height: 26px;
    font-size: 19px;
    font-family: "Open Sans";
    margin-bottom: 15px;
}

.rc-articlelist-item:before {
    content: '';
    width: 32px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/rc-article.png);
}

.rc-articlelist-item-text{
    font-size: 14px;
    line-height: 26px;
    font-family: "Open Sans";
}

.rc-about-content{
    display: inline-block;
    vertical-align: top;
    width: 620px;
}

.rc-about-content h1{
    font-size: 25px;
    line-height: 29px;
    font-family: "Open Sans";
    margin-bottom: 20px;
    font-weight: bold;
}


.rc-doctrine {
    border-top: 4px solid #a62a25;
    background: #fff;
    text-align: center;
    padding: 20px 40px;
    margin-bottom: 34px;
}

.rc-partners{
    border-top: 4px solid #c29632;
    background: #fff;
    text-align: center;
    padding: 20px 30px;
    margin-bottom: 34px;
}

.rc-partners.to-left .rc-partners-link{
    text-align: left;
}

.rc-doctrine-title, .rc-partners-title{
    font-size: 18px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}

.rc-doc-text{
    font-size: 18px;
    line-height: 34px;
    font-family: "Times New Roman";
    font-style: italic;
    margin-bottom: 30px;
}

.rc-partners-link{
    color: #0a4d66;
    font-size: 14px;
    line-height: 33px;
    display: block;
    text-decoration: underline;
    font-family: "Open Sans";
}

.rc-about-content p, .rc-about-content li{
    font-size: 14px;
    line-height: 26px;
    font-family: "Open Sans";
    margin-bottom: 26px;
}

.rc-about-content li{
    padding-left: 25px;
    position: relative;
    list-style: none;
}

.rc-about-content li:before{
    content: '';
    width: 9px;
    top: 6px;
    display: inline-block;
    height: 9px;
    position: absolute;
    left: 0;
    background: url(../img/star.png);
}

.rc-about-content h2{
    font-size: 16px;
    line-height: 29px;
    font-family: "Open Sans";
    font-weight: bold;
    margin-bottom: 26px;
    margin-top: 47px;
}

.rc-left-colums{
    width: 300px;
    height: 275px;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #dadada;
    padding: 20px 0;
}

.rc-right-colums{
    width: 318px;
    height: 275px;
    display: inline-block;
    margin-left: -3px;
    vertical-align: top;
    border-left: 1px solid #fff;
    padding: 20px 0 20px 34px;
}

.rc-left-colums-link, .rc-right-colums-link{
    color: #0a4d66;
    font-size: 13px;
    line-height: 24px;
    display: block;
    text-decoration: underline;
    font-family: "Open Sans";
    margin-bottom: 8px;
}

.rc-left-colums-title, .rc-right-colums-title{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    font-family: "Open Sans";
    margin-bottom: 17px;
}

.rc-twocolums {
    margin-bottom: 150px;
}

.rc-ruckov-text{
    font-size: 19px;
    line-height: 34px;
    color: #292929;
    font-family: "Open Sans";
    margin-bottom: 17px;
}

.rc-ruckov-title{
    font-size: 21px;
    line-height: 30px;
    color: #292929;
    font-family: "Open Sans";
    margin-bottom: 9px;
}

.rc-ruckov-about{
    font-size: 15px;
    line-height: 18px;
    color: #292929;
    font-family: "Open Sans";
    width: 95%;
}

.rc-ruckov-wrap {
    float: left;
    margin-right: 23px;
}

.rc-ruckov-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

 .rc-ruckov-item {
     margin-bottom: 40px;
     width: 435px;
 }