header{
    min-height: 215px;
}

.widthsub{
    height:300px;
}

aside {
    width: 340px;
    display: inline-block;
    float: right;
}

.rc-head-subtitle{
    line-height: 34px;
    font-size: 19px;
    font-family: "Open Sans";
    color: #fff;
    width: 810px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 110px;
}

.rc-head-title{
    color: #fff;
    line-height: 43px;
    font-size: 31px;
    font-family: "Open Sans";
    font-weight: 800;
    text-align: center;
    display: block;
    margin: auto;
    width: 470px;
    text-transform: uppercase;
    position: relative;
    top: 88px;
}

section{
    min-height: 700px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-logo {
    position: absolute;
    top: 10px;
}