body {
    background: #ebebeb;
}
a{
    text-decoration: inherit;
    color: inherit;
}

a:hover{
    text-decoration: inherit;
    color: inherit;
}

header, section .navbar-wrapper, footer {
    min-width: 100%;
}
.page-wrap{
    width: 1300px;
    margin: 0 auto;
    position: relative;
}

.breadcrumbs {
    position: relative;
    top: 20px;
}

.white-div {
    background: #FFF;
    padding: 20px;
}

header, footer{
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.white-div p {
    padding-top: 20px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 26px;
}

.top-logo {
    position: absolute;
    z-index: 3;
    top: 70px;
    margin: auto;
    left: 0;
    right: 0;
    width: 130px;
}

.top-logo img{
    width: 100%;
}

.white-div img {
    width: 100%;
}

.success_text{
    margin-top: 20px;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 26px;
}

.navbar-nav .rc-menu-item:after {
    content: '';
    border-right: 2px solid rgba(255, 255, 255, .2);
    height: 30px;
    display: block;
    position: absolute;
    top: 10px;
}

.navbar-nav .rc-menu-item:first-child:after {
    content: '';
    border-right: none;
}

.rc-menu-item:first-child:hover>.rc-sunmenu{
    display: block;

}

.rc-life-head {
    text-transform: uppercase;
    font-size: 18px;
    font-family: Lato, sans-serif;
    position: relative;
    color: #000000;
    left: 10px;
    display: inline-block;
    margin-bottom: 34px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, .7);
}

.rc-life-head:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,.3);
    bottom: -1px;
}

.rc-life {
    padding: 20px 20px 45px 10px;
    background: #fff;
}

.rc-life-item {
    margin-bottom: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #dadada;
    display: block;
    position: relative;
    left: 10px;
    top: 10px;
}

.rc-life-item:last-child {
    border-bottom: none;
}

.rc-life-item-pict {
    float: left;
    margin-right: 20px;
    box-shadow: 0 0 16px rgba(0,0,0,0.3);
}

.rc-life-item-data{
    line-height: 10px;
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 300;
    margin-bottom: 6px;
}

.rc-life-item-text{
    color:#0a4d66;
    line-height: 26px;
    font-size: 19px;
    font-family: "Open Sans";
}

.rc-article{
    margin-top: 50px;
    margin-bottom: 50px;
}

.rc-article-head{
    text-transform: uppercase;
    font-size: 18px;
    font-family: Lato, sans-serif;
    position: relative;
    color: #000000;
    margin-top: 0;
    display: inline-block;
    margin-bottom: 34px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, .7);
}

.rc-article-item{
    display: inline-block;
    vertical-align: top;
    width: 239px;
    padding-top: 22px;
    padding-left: 39px;
    position: relative;
    white-space: nowrap;
}


.rc-article-item-text{
    white-space: initial;
}
.rc-article-item:before {
    content: '';
    width: 32px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/rc-article.png);
}

.rc-article-item-text{
    line-height: 26px;
    font-size: 14px;
    font-family: "Open Sans";
    margin-bottom: 6px;
}

footer{
   position: absolute;
    height: 150px;
}

.navbar-header{
    display: none !important;
}

.rc-footer-menu-item{
    list-style: none;
    display: inline-block;
    padding: 0 20px 0 0;
    line-height: 24px;
    font-size: 12px;
    font-family: "Open Sans";
    color: #fff;
    text-decoration: underline;
}

.rc-footer-menu {
    position: absolute;
    right: 0;
    top: 1px;
}

.rc-footer-text {
    color: #fff;
    position: relative;
    margin-top: 35px;
    padding-top: 5px;
    background: url(../img/footer-logo.png) no-repeat;
}

.rc-footer-title {
    margin-left: 45px;
    width: 294px;
    margin-bottom: 14px;
}

.rc-footer-rights{
    font-size: 11px;
    font-family: "Open Sans";
    margin-left: 47px;
}


.contacts-head {
    text-transform: uppercase;
    font-size: 18px;
    font-family: Lato, sans-serif;
    position: relative;
    color: #000000;
    font-weight: 600;
}

.contacts-info {
    font-size: 18px;
    font-family: Lato, sans-serif;
    position: relative;
    color: #000000;
    margin-bottom: 20px;
}

.contacts-staff {
    font-size: 16px;
    font-family: Lato, sans-serif;
    position: relative;
    color: #000000;
}

.staff-head {
    font-size: 16px;
    font-family: Lato, sans-serif;
    position: relative;
    color: #000000;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-head {
    text-transform: uppercase;
    font-size: 18px;
    font-family: Lato, sans-serif;
    position: relative;
    color: #000000;
    font-weight: 600;
    text-align: center;
}

.contact-form {
    padding: 20px;
}

.contact-form input{
    height: 40px;
    text-align: center;
    width: 350px;
    margin: 20px auto;
}

.contact-form input.error{
    border-right: 3px solid #a62923;
}

.input-wrap {
    position: relative;
}

#rc-contactsform label{
    position: absolute;
    top: 50%;
    background: #fff;
    color: #a62923;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}

#rc-contactsform{
    width: 430px;
    height: 440px;
}

#rc-contactsform.success{
    text-align: center;
    border: 3px solid #fff;
    border-radius: 6px;
    margin: 20px 0;
    padding: 10em 4em;
}

.contact-form input[type="textarea"]{
    height: 200px;
}

.contact-form input[type="submit"]{
    width: 200px;
    background: #ebebeb;
    border: 2px solid #ccc;
}

.under-form {
    font-size: 10px;
    padding: 0 45px;
    text-align: center;
    color: #333;
}

.sendyourmail {
    position: absolute;
    top: 45px;
    right: 0;
    width: 572px;
}

.rc-about-picture-wrap{
    width: 430px;
    height: 210px;
    overflow: hidden;
    position: relative;
}

.rc-about-picture-wrap:after {
    content: 'Об организации';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    background: rgba(0,0,0,0.6);
    padding: 5em;
    text-align: center;
}

.rc-sunmenu{
    position: absolute;
    width: 100%;
    top: 50px;
    line-height: 35px;
    padding-left: 263px;
    background: rgba(0,0,0,.4);
}

.rc-sunmenu-list {
    padding: 0;
    margin-bottom: 0;
}

.rc-sunmenu-item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    padding: 8px;
}

.rc-sunmenu-item a {
    text-decoration: inherit;
    color: inherit;
}

.rc-sunmenu-item a:hover{
    color: #fff;
}

.fon{
    width: 100%;
    height: 35px;
    background: rgba(0,0,0,.39);
    position: absolute;
    top: 30px;
}

.load_more_news-wrap{
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
}

.load_more_news{
    font-size: 15px;
    font-weight: 300;
    font-family: "Open Sans";
}

.load_more_news:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background: url('../img/rotate.png');
}


.sendyourmail:before {
    content: '';
    position: absolute;
    background: url(../img/mail.png);
    width: 16px;
    height: 10px;
    left: 8px;
    top: 12px;
}

.sendyourmail input[type="email"] {
    height: 32px;
    border: 1px solid;
    width: 261px;
    background: rgba(0,0,0,.1);
    margin-right: 10px;
    border-radius: 2px;
    text-indent: 34px;
}

.sendyourmail input[type="submit"] {
    border: none;
    border-radius: 4px;
    font-weight: 600;
    padding: 7px 15px;
    font-family: "Open Sans";
    background: #a90329;
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

.rc-lifelist .load_more_news-wrap{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
}